body {
    background-color: $lt-azul-primario;
}

.form-login {
    font-family: 'Poppins', sans-serif;

    input {
        background-color: $lt-cinza-suave;
        border: none;
    }
    .btn-login {
        font-weight: 600;
        color: $lt-branco;
        box-shadow: $shadow-lg;
    }
    .btn-login-social {
        box-shadow: $shadow-lg;
    }
}
