body {
    background-color: $lt-azul-primario;
}

.form-login {

    input {
        background-color: $lt-cinza-suave;
        border: none;
    }
    .btn-login {
        font-weight: 600;
        color: $lt-branco;
        box-shadow: $shadow-lg;
    }
    .btn-login-social {
        box-shadow: $shadow-lg;
    }
}

.input-group-text {
    background-color: $lt-cinza-suave;
    border: none;
}

.card.p-4 {
    border-radius: 15px;
}