.novo-momento-page {
    background-color: $lt-branco-suave;
}
.form-novo-momento {
    background-color: $lt-branco;
    border-radius: 15px;
    max-width: 950px; 
    width: 100%;

    input {
        background-color: $lt-cinza-suave;
        border: none;
        color: $lt-preto;

        &::placeholder {
        font-size: 0.85rem;
        opacity: 0.7;
        }
    }

    .upload-text {
        color: $lt-cinza-medio;
        font-size: 0.85rem;
        opacity: 0.7;
    }

    textarea::placeholder {
        font-size: 0.85rem;
        opacity: 0.7;
    }

    textarea {
        background-color: $lt-cinza-suave;
        color: $lt-preto;
        border: none;
        height: 100%; 
        resize: none;
    }
}

.btn-lt-icon {
    iconify-icon {
        color: $lt-azul-primario;
        font-size: 32px;
    }
}

footer {
    border-radius: 14px 14px 0 0;

    p {
        font-weight: 600;
        color: $lt-branco;
    }
    .small {
        font-weight: 400;
    }
}

.img-fluid {
    max-width: 220px;
}

.upload-area {
    border: 2px dashed $lt-azul-primario;
    border-radius: 16px;

    min-height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;


    background-color: $lt-branco-suave;

    iconify-icon {
        color: $lt-azul-primario;
        font-size: 60px;
    }
}

.upload-icon {
    font-size: 42px;
    color: $lt-azul-primario;
}