body {
  font-family: $font-family-base;
}

h1 {
  font-family: $headings-font-family;
  color: $lt-azul-primario;
}

h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  color: $lt-preto;
}

.page-title {
  font-size: clamp(2.5rem, 1.8rem + 3vw, 5rem);
}

.page-description {
  font-size: clamp(1.1rem, 0.95rem + 0.7vw, 1.5rem);
  color: $lt-preto;
  font-weight: 500;
}