//---------------------------------------------------------------------------
//BUTTONS
//---------------------------------------------------------------------------

//Botão de Ações Primárias
.btn-lt-primary {
    background-color: $lt-azul-primario;
    color: $lt-branco;
    font-weight: $font-weight-semibold;
    box-shadow: $shadow-btn-primary;

    @include hover-elevation;

    &:hover {
        background-color: $lt-azul-primario;
        color: $lt-branco;
        opacity: 90%;
    }

    a {
        color: $lt-branco;
        text-decoration: none;
        font-weight: $font-weight-semibold;
    }
}

.btn-lt-icon {
    border: none;
    background-color: $lt-branco;

    iconify-icon {
        color: $lt-azul-primario;
        font-size: rem(32);
    }
}

//Botão de Perfil
.btn-lt-user {
    background-color: $lt-azul-primario;
    padding: 4px 12px 4px 6px;

    &:hover {
        background-color: $lt-azul-primario;
        color: $lt-branco;
    }

    .avatar-circle {
      width: rem(32);
      height: rem(32);
      background-color: $lt-branco;
      
      @include flex-center;
    }
    
    .user-name {
        color: $lt-branco;
        font-weight: $font-weight-medium;
    }
}

//Botões de Navegação
.btn-lt-carousel {
    width: rem(45);
    height: rem(45);
    border-radius: 50%;
    background-color: $lt-azul-primario;
    border: none;
    color: $lt-branco;
    font-size: rem(28);
}

//Botões de Filtro
.btn-lt-filter {
    background-color: $lt-branco;
    box-shadow: $shadow-btn-filter;
    color: $lt-preto;
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    border: 1px solid $lt-cinza-suave;
    padding: 7px 17px;

    @include flex-center;
    
    gap: .5rem;

    line-height: 1;

}
//Botão de Alterar Imagem do Formulário
.btn-lt-alter-image {
    background-color: $lt-azul-primario;
    color: $lt-branco;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    font-weight: $font-weight-semibold;
    box-shadow: $shadow-btn-primary;

    @include hover-elevation;

    &:hover {
        background-color: $lt-azul-primario;
        color: $lt-branco;
        opacity: 90%;
    }
}


//Botão de Exclusão de Momento
.btn-lt-delete {
    background-color: $lt-vermelho-suave;
    border: none;
    color: $lt-branco;
    font-weight: $font-weight-semibold;
    box-shadow: $shadow-btn-primary;

    &:hover {
        background-color: $lt-vermelho-suave;
        color: $lt-branco;
        opacity: 90%;
    }
}

//---------------------------------------------------------------------------
//CONTAINERS
//---------------------------------------------------------------------------
.content-area {
    background-color: $lt-branco;
    box-shadow: $shadow-area;
    border-radius: 15px;
}

//---------------------------------------------------------------------------
//NAVBAR
//---------------------------------------------------------------------------
.navbar-lt {
    background-color: $lt-branco-suave;
    margin: 16px auto 0 auto;
    max-width: 1200px;

    .nav-link {
        color: $lt-cinza-escuro;

        iconify-icon {
        font-size: rem(32);
        }
    
        &.active {
            color: $lt-azul-primario;
            font-weight: $font-weight-semibold;
        }
    }
}

@media (min-width: 768px) {
    .navbar-lt {
        background-color: $lt-branco;
        box-shadow: $shadow-navbar;
        border-radius: 24px;
        width: calc(100% - 32px);
    }
}

.nav-link-custom {
    transition: opacity .3s ease;
}

.nav-link-custom:hover {
    opacity: .7;
}

//Mobile
.navbar-lt-mobile {
    background-color: $lt-branco;
    box-shadow: $shadow-navbar;

    position: fixed;
    bottom: 16px;

    left: 16px;
    right: 16px;

    z-index: 1050;

    .nav-link {
        color: $lt-cinza-escuro;
        font-size: rem(12);

        iconify-icon {
        font-size: rem(28);
        }
    
        &.active {
            color: $lt-azul-primario;
            font-weight: $font-weight-semibold;
        }
    }
}

//---------------------------------------------------------------------------
//FOOTER
//---------------------------------------------------------------------------
.footer-lt {
    background-color: $lt-azul-primario;
    border-radius: 14px 14px 0 0;

    p {
        font-weight: $font-weight-semibold;
        color: $lt-branco;
    }

    .small {
        font-weight: $font-weight-normal;
    }

    .footer-link {
        color: $lt-branco;
        text-decoration: none;
        font-weight: $font-weight-semibold;

        &:hover {
            color: $lt-branco;
            opacity: 0.8;
        }
    }
}

.footer-logo {
    max-width: rem(220);
}

//---------------------------------------------------------------------------
//CARDS
//---------------------------------------------------------------------------

//Cards Padrão
.moment-card {
    border: 3px solid $lt-azul-primario;
    border-radius: 15px;
    width: 100%;
    min-height: rem(450);

    .img-card {
        width: 100%;
        height: rem(180);
        object-fit: cover;
        border-radius: 10px;
    }

    .pill-details {
        color: $lt-branco;
        font-weight: $font-weight-normal;
        background-color: $lt-azul-primario;
    }

    p {
        color: $lt-preto;
        font-weight: $font-weight-medium;
    }
}

@media (min-width: 992px) {
    .moment-card {
        max-width: rem(350);
    }
}


//Card Ativo
.active-card {
    background-color: $lt-azul-primario;

    h3,
    p {
        color: $lt-branco;
    }

    .pill-details {
        color: $lt-azul-primario;
        font-weight: $font-weight-semibold;
        background-color: $lt-branco;
    }
}

//---------------------------------------------------------------------------
//TIMELINE CARROSSEL
//---------------------------------------------------------------------------

.timeline-track {
    gap: rem(24);
    
}

.moment-date {
    font-size: rem(14);
    font-weight: $font-weight-semibold;
    margin-bottom: 12px;

    color: $lt-cinza-escuro;
}

.timeline-track {
    gap: rem(24);
}

.moment-wrapper {
    position: relative;
}