.auth-page {
    background-color: $lt-azul-primario;
}

.card.p-4 {
    border: none;
    border-radius: 15px;
}

.form-autentication {

    input {
        background-color: $lt-cinza-suave;
        border: none;
    }
    .btn-login-social {
        font-weight: 500;
        box-shadow: $shadow-btn-primary;
    }
    .form-check-input {
    border: 1px solid $lt-cinza-medio;
    }
}

.input-group-text {
    background-color: $lt-cinza-suave;
    border: none;
}

a {
    color: $lt-branco;
    text-decoration: none;
    font-weight: 600;
}

.btn-concordo {
    color: $lt-branco;
    box-shadow: $shadow-btn-primary;
}
