.auth-page {
    background-color: $lt-azul-primario;
}

.card.p-4 {
    border: none;
    border-radius: 15px;
}

.form-autentication {

    h1 {
        color: $lt-preto;
    }
    input {
        background-color: $lt-cinza-suave;
        border: none;
    }
    .btn-login-social {
        font-weight: $font-weight-medium;
        box-shadow: $shadow-btn-primary;

        @include hover-elevation;
    }
    .form-check-input {
    border: 1px solid $lt-cinza-medio;
    }
}

.input-group-text {
    background-color: $lt-cinza-suave;
    border: none;
}

.text-link {
    text-decoration: none;
    font-weight: $font-weight-semibold;
}