.new-moment-page {
  background-color: $lt-branco-suave;
}

.new-moment-form {
  max-width: rem(950);
  width: 100%;

  input {
    background-color: $lt-cinza-suave;
    border: none;
    color: $lt-preto;
  }

  .upload-text {
    color: $lt-cinza-escuro;
    font-size: 0.85rem;
    opacity: 0.7;
  }

  textarea {
    background-color: $lt-cinza-suave;
    color: $lt-preto;
    border: none;
    height: 100%;
    resize: none;
  }
}

.upload-area {
  border: 2px dashed $lt-azul-primario;
  border-radius: 16px;

  min-height: rem(320);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: $lt-branco-suave;

  iconify-icon {
    color: $lt-azul-primario;
    font-size: rem(60);
  }
}

.upload-icon {
  font-size: rem(42);
  color: $lt-azul-primario;
}

.hidden {
  display: none !important;
}

#previewImage {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
}

input,
textarea {
  &::placeholder {
    font-size: 0.85rem;
    opacity: 0.7;
  }
}

.dropdown-menu {
  width: rem(350);
  max-width: 90vw;
  border: 1px solid $lt-azul-primario;
  border-radius: 18px;
  box-shadow: $shadow-navbar;
  background-color: $lt-branco;

  .dropdown-description {
    font-size: 0.9rem;
  }
}

.dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.actions-list {
  max-height: rem(75);
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

.pill-actions {
  background-color: $lt-branco;
  color: $lt-azul-primario;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 50px;
  padding: 2px 6px;

  iconify-icon {
    font-size: 19px;
  }
}

.favorite-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.favorite-toggle {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.favorite-icon {
  font-size: rem(32);
  color: $lt-azul-primario;

  @include hover-elevation-btn;
}

.favorite-icon--filled {
  display: none;
}

.favorite-checkbox:checked + .favorite-toggle .favorite-icon--empty {
  display: none;
}

.favorite-checkbox:checked + .favorite-toggle .favorite-icon--filled {
  display: inline-block;
}