.timeline-viewport {
    overflow: hidden;
}

.timeline-track {
    flex-wrap: nowrap;
}

.moment-wrapper {
    @include micro-zoom;
}

.moment-description {
    
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;  
        overflow: hidden; 
        -webkit-line-clamp: 4; 
        line-clamp: 4;
    } 
}

.moment-wrapper .btn-lt-delete {
    display: none; 
}

.moment-wrapper.active .btn-lt-delete {
    display: inline-block;
}